.message-input {
  height: 100px;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.message-input-text {
  height: 60px;
  width: 1000px;
  outline: none;
}

.message-input-button {
  width: 100px;
  cursor: pointer;
}

.send-icon {
  /* background-color: white; */
  color: white;
  background-color: black;
}